
/*  Reset  */
*, ::before, ::after{
    font-family: sans-serif;
    box-sizing: border-box;
    margin: 0;
}

/* Format */
html, body {
    height: 100%;
    width: 100%;
}

/*  --- estilos ---  */

/*  Colores  */
.color-fondo--azul-claro {
    background-color: rgb(200, 230, 240);
}

/*  Tamaños  */
.vh-100 {
    height: 100vh;
}

.width-medium {
    width: 6rem;
}

.height-large {
    height: 30rem;
}

.width-minima-movil {
    min-width: 474px;
}


/*  Positions  */

.position-relative {
    position: relative;
}

.position-absolute {
    position: absolute;
}


/*  Margins  */

.margin-vertical-small {
    margin: 2rem auto;
}

.margin-horizontal-small {
    margin: auto 2rem;
}

.margin-top-10-percent {
    margin-top: 10%;
}


/*  Alineaciones  */

.justify-content-center {
    justify-content: center;
}

.justify-content-space-around {
    justify-content: space-around;
}

.align-items-center {
    align-items: center;
}


/*  Displays  */

.display-none {
    display: none;
}

.display-flex-row {
    display: flex;
    flex-direction: row;
}

.display-flex-column {
    display: flex;
    flex-direction: column;
}


/* Colores para distinguir las cajas */
/*
div {
    background-color: rgba(255, 0, 0, 0.05);
}
body {
    border: solid 1px magenta;
}
*/

